.minting-page-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;

  .staking-title-bar {
    margin: 1rem;
  }

  .minting-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: .1rem solid #3d3c3e;
    border-radius: 1rem;
    background-color: #13111a;
    margin: 1rem;
  }

  .minting-reward-prediction-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: .1rem solid #3d3c3e;
    border-radius: 1rem;
    background-color: #13111a;
    margin: 1rem;
  }

  .minting-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
  }

  .minting-status-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .minting-error-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

