.minting-page-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 100vh;

  .staking-title-bar {
    margin: 0.5rem;
  }

  .minting-card {
    display: flex;
    flex-direction: column;
    border: .1rem solid #3d3c3e;
    border-radius: 1rem;
    background-color: #13111a;
    margin: 0.5rem;
    margin-top: 0;

    .minting-card-information {
      display: flex;
      flex-direction: column;
      margin: 0.5rem;
      padding: 0.5rem;
      gap: .25rem;
      border: .1rem solid #3d3c3e;
      border-radius: 1rem;
      color: white;
      font-family: 'Helvetica';

      .information-entry {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: small;
      }
    }
  }
  .no-node{
    color: white;
    padding: 20px;
    font-weight: bold;
    text-align: center;
  }
  .minting-reward-prediction-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: .1rem solid #3d3c3e;
    border-radius: 1rem;
    background-color: #13111a;
    margin: 0.5rem;
    font-family: 'Helvetica';
    font-size: small;
  }

  .minting-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem;
    margin-top: 0;
  }

  .minting-status-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .minting-error-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

}

