.welcome-page-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 2rem;

  .welcome-page-header {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    img {
      width: 20%;
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 2rem;
      color: white;
    }
  }

  .welcome-page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      height: 100%;
      border: .1rem solid #3d3c3e;
      border-radius: 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: #13111a;

      .chainselect-button {
        margin: 1rem;
        padding: 1rem;
        border: none;
        border-radius: .5rem;
        background-color: #2c04fe;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: medium;
        font-weight: bold;

        &:hover {
            background-color: #0056b3;
        }
      }
    }
  }

  .welcome-page-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 20vh;

    .migration-info {
      display: flex;
      justify-content: center;
      font-size: small;
    }

    .container {
      display: flex;
      flex-direction: column;

      .migrate-button {
        margin: 1rem;
        padding: 1rem;
        border: none;
        border-radius: .5rem;
        background-color: #2a2c31;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        font-size: medium;
        font-weight: bold;
  
        &:hover {
          background-color: #484b55;
        }
      }
    }
  }
}
