:root {
    --color-secondary: rgba(79,79,79,255);
    --color-primary: rgba(96,96,96,255);
    --color-accent: rgba(207,177,109,255);
    --color-primary-button-background: rgba(207,177,109,255);
    --color-secondary-button-background: rgba(239, 239, 239, 1);
    --color-secondary-button-text: rgba(103, 103, 103, 1);
    --color-accent-text-color: rgba(226,185,94,255);
    --color-primary-light: rgba(244,237,221,255);
    --color-warning: rgb(255, 66, 66);
    --color-light-background: rgba(211, 209, 205);
    --color-box-transparent-red: rgba(236, 68, 68, 0.37);
    --color-box-transparent-grey: rgba(148, 144, 144, 0.18);
    --color-box-transparent-green: rgba(144, 189, 129, 0.37);
    --color-box-transparent-blue: rgba(118, 131, 185, 0.37);
    --color-box-transparent-gold: rgba(207,177,109,0.2);
}
