.minting-page-button {
  margin: .5rem;
  padding: 1rem;
  border: none;
  border-radius: .5rem;
  background-color: #2c04fe;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
      background-color: #0056b3;
  }
}