
body {
    height: 100%;
}

table {
    border-collapse: separate;
    border-spacing: 20px 10px;
}

a {
    color: var(--color-accent);
    font-size: 14pt;
    text-decoration: none;
}

.MaxButton {
    /* color: var(--color-accent); */
    color: white
}

.MuiSvgIcon-root {
    color: var(--color-accent)!important;
}

.input-card {
    margin: 10px 10px 10px 10px;
    width: 100%;
    min-height: 10rem;
    /*max-height: 20%;*/
    padding: 10px;
    align-items: center;
}

.MuiTypography-root {
    color: var(--color-accent)!important;
}

.avi-logo{
    height: 13px;
    padding-left: 3px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 10px;
    margin-top: 10px;
    background-color: transparent;
}

.grid .Col {
    font-weight: bold;
}

.primary-button {
    min-height: 3rem;
    width: 100%;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    transition: ease-in-out all 0.3s;
}

.secondary-button {
    height: 50px;
    width: 100%;
    color: #676767;
    border: none;
    border-radius: 5px;
    font-size: small;
    font-weight: bold;
    text-align: center;
    transition: ease-in-out all 0.3s;
    justify-items: center;
}

.minting-button {
    margin: 1rem;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    background-color: #2c04fe;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: medium;
    font-weight: bold;

    &:hover {
        background-color: #0056b3;
    }
}

.primary-button:active, .secondary-button:active {
    transform: scale(1.1);
}

/* blue bar */
/* .bonus-box {
    z-index:0;
    position: relative;
} */


/* Shine */
/* .bonus-box:after {
    content:'';
    top:0;
    transform:translateX(100%);
    width:100%;
    height:100%;
    position: absolute;
    z-index:1;
    animation: animation 3s infinite;

    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(128,186,232,0) 99%, rgba(125,185,232,0) 100%); 
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(50%,rgba(255,255,255,0.8)), color-stop(99%,rgba(128,186,232,0)), color-stop(100%,rgba(125,185,232,0))); 
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); 
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); 
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 50%,rgba(128,186,232,0) 99%,rgba(125,185,232,0) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#007db9e8',GradientType=1 ); 
} */



/* animation */

@keyframes animation {
    0% {transform:translateX(-100%);}
    100% {transform:translateX(100%);}
}

